<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <style>
      h1 {
        color: green;
        text-align: center;
        font-size: 36px;
      }
      a {
        color: blue;
        font-size: 20px;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <h1>Главная страница</h1>
    <a href="/news">Страница с новостями</a><br>
    <a href="/about">Сайт с новостями</a><br>
    <a href="/fibonacci">Первые 100 чисел Фибоначчи</a><br>
    <a href="/money">Курс валют</a><br>
    <a href="/random">Случайная цитата</a><br>
    <a href="/tutorial">Туториал</a>
  </body>
</html>